:root {
  font-size: 16px;
  font-family: "ヒラギノ丸ゴ ProN", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 30px;
  color: $color-text;
  background-color: #935d8c;
  background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  min-height: 100vh;
  min-height: 100dvh;

  @include mobile {
    padding: 20px 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
